.footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    color: #160C28;
    background-color: #EFCB68;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 2vw;
    padding-right: 2vw;
    height: 3em;
}