.purple {
  background-color: #160C28;
}

.orange {
  background-color: #EFCB68;
}

.honeydew {
  background-color: #E1EFE6;
}

.gray {
  background-color: #AEB7B3;
}

.black {
  background-color: #000411;
}

.header {

}

.page {
  background-color: #160C28;
  min-width: 100vw;
  min-height: 100vh;
  font-family: monospace;
  color: #E1EFE6;
  display: flex;
}

hr {
  color: #E1EFE6;
}

.inner-page {
  padding: 2vw;
}

.title {
  font-size: 200%;
}

.content {
  display: flex;
  flex-direction: row;
}

.content-left {
  border-right: 1px solid #E1EFE6;
  min-height: 84vh;
  min-width: 20vw;
  margin-right: 2vw;
}

.content-right {
  min-width: 72vw;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding-left: 2vw;
  background-color: #000411;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
