.purple {
  background-color: #160C28;
}

.orange {
  background-color: #EFCB68;
}

.honeydew {
  background-color: #E1EFE6;
}

.gray {
  background-color: #AEB7B3;
}

.black {
  background-color: #000411;
}

.header {

}

.page {
  background-color: #160C28;
  min-width: 100vw;
  min-height: 100vh;
  font-family: monospace;
  color: #E1EFE6;
  display: flex;
}

hr {
  color: #E1EFE6;
}

a {
  color:#EFCB68;
}

a:visited {
  color:#EFCB68;
}

.inner-page {
  padding: 2vw;
}

.title {
  font-size: 200%;
}

.content {
  display: flex;
  flex-direction: row;
}

.content-left {
  border-right: 1px solid #E1EFE6;
  min-height: 84vh;
  min-width: 20vw;
  width: 20vw;
  margin-right: 2vw;
}

.content-right {
  min-width: 72vw;
  width: 72vw;
}

.title-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  cursor: pointer;
}

.title-list li:hover {
  color:#000411;
  background-color: #EFCB68;
}

.tag-list {
  list-style: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.tag-list li {
  display: inline-block;
  margin-right: 1em;
  border-radius: 10px;
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid #E1EFE6;
}

.tag-list li:hover {
  color: #EFCB68;
  border: 1px solid #EFCB68;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 96vw;
  color: #160C28;
  background-color: #EFCB68;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 2vw;
  padding-right: 2vw;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
